$background: #f5f5f5;
$background-white: white;
$sell-text: #333;
$sell-border: #eee;
$sell-link: #0099e8;
$text-black: #333;
$text-white: #fff;
$button-red: #ea352d;
$button-blue: #0099e8;
$border: #ccc;
