$background: #f5f5f5;
$background-white: #fff;
$background-gray: #888;
$background-red: #ea352d;
$sell-text: #333;
$sell-border: #eee;
$sell-link: rgb(0, 153, 232);
$text-black: #333;
$text-white: #fff;
$button-red: #ea352d;
$button-blue: #0099e8;
$border: #ccc;
$icon-gray: #C0C0C0;
$select-icon-gray: #888;
