.categry-show-wrap{
  padding: 30px;

  &__head{
    width: 1020px;
    margin: 0 auto;
    padding-top: 20px;
  }

  &__foot{
    width: 1020px;
    margin: 0 auto;
    text-align: center;

    &--message{
      padding:10px 0;
      color: $text-white;
      background-color: $button-red;
    }
  }
}

.show-category-listbox{
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  margin: 0 auto;

  &__list{
    margin-right: 20px;

    &--button{
      font-size: 14px;
      @include hover-link($button-blue)
    }
  }
}

.show-category-item{
  @include one-product(188px, 15px);
  width: 1020px;

  &__link{
    margin: 0 16px 30px 0;

    &:nth-child(5n){
      margin: 0 0px 30px 0;
    }
  }
}

.show-category-item-info{
  @include category-box-deteil-info;
}

.show-category-item-info-price{
  @include category-box-deteil-info-price;
}

.show-category-title{
  width: 1020px;
  margin: 0 auto;

  text-align: center;
  &__message{
    padding:10px 0;
    color: $text-white;
    background-color: $button-red;
  }
}
