.top-contents{
  padding: 20px 0;
  z-index: 1;

  &__head{
    margin-top: 40px;
    font-size: 26px;
    text-align: center;
  }
}

.pick-up-category{
  width: 940px;
  margin: 0 auto;
  

  &__head{
    margin-top: 20px;
    text-align: center;
  }

  &__link{
    color: $sell-link;
    &:hover{
      color: $sell-link;
      opacity: .7;
    }
  }

  &__see-all{
    display: block;
    margin: 0 0 0 auto;
    text-align: right;
    color: $sell-link;

    &:hover{
      color: $sell-link;
      opacity: 0.7;
    }
  }
}

.pick-up-category-item{
  @include one-product(213px);

  &__link{
    margin-right: 20px;

    &:nth-child(4n){
      margin-right: 0;
    }
  }
}

.pick-up-category-item-info{
  @include category-box-deteil-info;
}

.pick-up-category-item-info-price{
  @include category-box-deteil-info-price;
}

.main-fake-footer{
  margin-top: 20px;
  &__img{
    width: 100vw;
  }
}
