.top-contents{
  padding: 20px 0;
  z-index: 1;

  &__head{
    margin-top: 40px;
    font-size: 26px;
    text-align: center;
  }
}

.pick-up-category{
  width: 940px;
  margin: 0 auto;
  

  &__head{
    margin-top: 20px;
    text-align: center;
  }

  &__link{
    color: $sell-link;
    &:hover{
      color: $sell-link;
      opacity: .7;
    }
  }

  &__see-all{
    display: block;
    margin: 0 0 0 auto;
    text-align: right;
    color: $sell-link;

    &:hover{
      color: $sell-link;
      opacity: 0.7;
    }
  }
}

.pick-up-category-item{
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  position: relative;
  
  &__link{
    width: 213px;
    background: #fff;

    &:hover{
      text-decoration: none;
    }
  }

  &__img{
    width: 213px;
    height: 213px;;
  }

  &__sold{
    z-index: 2;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0; 

    &:after{
      border-width: 100px 100px 0 0;
      border-color: #ea352d transparent transparent transparent;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
    }

    &--msg{
      font-size: 20px; 
      position: absolute;
      top: 15px;
      left: 0;
      z-index: 1;
      color: #fff;
      transform: rotate(-45deg);
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  &__name{
    margin-top: 10px;
  }
}

.pick-up-category-item-info-price{
  margin-top: 10px;

  &__main{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--red{
      color: #FFCCFF;
      margin-right: 5px;
    }
  }

  &__sub{
    font-size: 13px;
  }
}

.main-fake-footer{
  margin-top: 20px;
}
