.mycontents-logout {
  background-color: $text-white;
  width: 735px;
  height: 180px;
  margin-top: 24px;
  margin-left: 40px;
  a {
    text-decoration: none ;
  }
  .logout-btn {
    display: block;
    width: 40%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin: 60px 220px 0;
  }
}
