.side-menu {
  float: left;
  width: 250px;
  margin-top: 24px;
  margin-left: 210px;
  .mypage {
    padding-left: 0;
    list-style: none;
    background-color: #FFF;
    height: 686px;
    .item {
      height: 49px;
      line-height: 49px;
      border-bottom: 1px solid #eee;
      span {
        font-size: 14px;
        padding-left: 10px;
      }
      i {
        float: right;
        font-size: 24px;
        line-height: 49px;
        padding-right: 10px;
        color: #bbb;
      }
    }
    .item:hover {
      i {
        padding-right: 8px;
        color: black;
      }
    }
  }
  h3 {
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .mer-pay {
    padding-left: 0;
    list-style: none;
    height: 98px;
    background-color: #FFF;
  }
  .setting {
    padding-left: 0;
    list-style: none;
    height: 343px;
    background-color: #FFF;
  }
}