@mixin product-show-contents{
  display:flex;
  text-align: left;
  border: 1px solid #f5f5f5;

  &__title{
    width: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:8px;
    background-color: #fafafa;
    border-collapse: collapse;
    border-right: 1px solid #f5f5f5;
  }

  &__contents{
    width: 172px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:8px;
  }
}
